main {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-bottom: 100px;
}

main section {
    grid-column: 2/4;
}

main img {
    padding-top: 60px;
    }

/* Couleur pour préciser quelle page est en cours dans la navigation */
a[href="../pages/about.html"] {
    color: var(--BleuH2H3);
}