main {
    display: grid;
    grid-template-columns: 1fr 5% 1fr ;
    margin-bottom: 100px;
}

section {
    grid-column: 3/4;
}

img {
    max-width: 100%;
}

footer h2 {
    color: var(--RoseH1H4);

}

