<<<<<<< HEAD
.texte {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;   
}

h1 {
    color: pink;
}

p {
    text-align: start;
=======

section.formulaire {
    display: flex;
    justify-content: center;
}

input {
    color: black;
    background-color: rgb(236, 234, 234);
    min-width: 500px;
    min-height: 30px;
    margin-top: 10px;
}

textarea {
    color: black;
    background-color: rgb(236, 234, 234);
    min-width: 500px;
    min-height: 300px;
    margin-top: 10px;
}

.button {
    margin-top: 30px;
    color: white;
    padding: 10px;
    background-color: blueviolet;
    min-width: 500px;
>>>>>>> 7ee5f4e095046fc2969a1ea2963ec099e0996eeb
}