/* Bibliothèque de couleurs */

:root {
    --RoseH1H4 : #D05270;
    --BleuH2H3 : #5A47AB;
    --GrisFonceParagraphe : #424242; 
    --GrisClair : #ececec;
    --GrisMoyenNav : #7e7e7e;
    --BleuTwitter : #47acdf;
    --BleuLinkedin : #1275b1;
}

/* Ecrasement du CSS par défault */

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

figure {
    line-height: 0;
}

/* Marges globales du site */

body {
    width: 80%;
    margin: auto;
}

main{
    margin-top: 50px;
}

/* Styles des titres principaux */

h1 {
    font-family: 'Abril Fatface', cursive;
    color: var(--RoseH1H4);
    font-size: 3rem;
    margin:3rem 0;
}

/* Styles des sous-titres */

h2 {
    color: var(--BleuH2H3);
    font-size: 2rem;
    margin : 2rem 0;
    font-weight: 700;
}

h3 {
    color: var(--BleuH2H3);
    font-size: 1.5rem;
    font-weight: 600;
    margin:1.5rem 0;
}

h4 {
    color: var(--RoseH1H4);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1.25rem 0;
}

/* Styles des textes */

p, label, input, textarea, a, li  {
    color: var(--GrisFonceParagraphe);
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
}

/* Effet au survol des liens */

nav a:hover, aside a:hover {
    color: var(--RoseH1H4);
}

/* CSS du Header et Footer */
header, footer {
    display: flex;
    gap: 20px;
}

footer img {
    max-width: 100%;
}

footer h2 {
    color: var(--RoseH1H4);
}

header ul, footer ul {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

header li, footer li {
    display: flex;
}

header li a, footer li a {
    color: white;
}

header p, footer p {
    min-width: 100%;
}

header figure img {
    width: 400px;
}

/* Boutons réseaux sociaux*/

.twitter {
    background-color: var(--BleuTwitter);
    min-width: 165px;
    min-height: 15px;
    padding: 8px 25px;
    text-align: center;
}

.twitter:hover {
    background-color: var(--BleuLinkedin);
}

.linkedin {
    background-color: var(--BleuLinkedin);
    padding: 8px 25px;
    min-width: 165px;
    min-height: 15px;
    text-align: center;
}

.linkedin:hover{
    background-color: var(--BleuTwitter);
}

.medium {
    background-color: black;
    padding: 8px 25px;
    min-width: 165px;
    min-height: 15px;
    text-align: center;
}

.medium:hover{
    background-color: var(--GrisFonceParagraphe);
}

i {
    color: white;
}

/* CSS de la nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
nav a {
    margin-top:0 ;
    margin-bottom:0 ;
    color: var(--GrisMoyenNav);
}

nav figure img {
    max-width: 70%;
    max-height: 100px;
    position: absolute;
}

nav figure {
    min-height: 100px;
    opacity: 1;
}

nav .logohover {
    transition: opacity .5s;
    opacity: 0;
}
nav .logohover:hover {
    opacity: 1;
}