:root {
    --RoseH1H4 : #D05270;
    --BleuH2H3 : #5A47AB;
    --GrisFonceParagraphe : #424242; 
    --GrisClair : #ececec;
    --BleuTwitter : #47acdf;
    --BleuLinkedin : #1275b1;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 80%;
    margin: auto;
}


h1 {
    font-family: 'Abril Fatface', cursive;
    color: var(--RoseH1H4);
    font-size: 3rem;
    margin:3rem 0;
}

h2 {
    color: var(--BleuH2H3);
    font-size: 2rem;
    margin : 2rem 0;
    font-weight: 700;
}

h3 {
    color: var(--BleuH2H3);
    font-size: 1.5rem;
    font-weight: 600;
    margin:1.5rem 0;
}

h4 {
    color: var(--RoseH1H4);
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.3rem 0;
}

p, input, textarea, a, li  {
    color: var(--GrisFonceParagraphe);
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
}

figure {
    line-height: 0;
    }

a:hover {
    color: var(--RoseH1H4);
}