/* Bibliothèque de couleurs */

:root {
    --RoseH1H4 : #D05270;
    --BleuH2H3 : #5A47AB;
    --GrisFonceParagraphe : #424242; 
    --GrisClair : #ececec;
    --BleuTwitter : #47acdf;
    --BleuLinkedin : #1275b1;
}

/* Ecrasement du CSS par défault */

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

figure {
    line-height: 0;
}

/* Marges globales du site */

body {
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
}

/* Styles des titres principaux */

h1 {
    font-family: 'Abril Fatface', cursive;
    color: var(--RoseH1H4);
    font-size: 3rem;
    margin:3rem 0;
}

/* Styles des sous-titres */

h2 {
    color: var(--BleuH2H3);
    font-size: 2rem;
    margin : 2rem 0;
    font-weight: 700;
}

h3 {
    color: var(--BleuH2H3);
    font-size: 1.5rem;
    font-weight: 600;
    margin:1.5rem 0;
}

h4 {
    color: var(--RoseH1H4);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1.25rem 0;
}

/* Styles des textes */

p, label, input, textarea, a, li  {
    color: var(--GrisFonceParagraphe);
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
}

/* Effet au survol des liens */
a:hover {
    color: var(--RoseH1H4);
}

/* CSS du Header et Footer */

header, footer {
    display: grid;
    grid-template-columns: 1fr 5% 1fr ;
    justify-items: end;
    max-height: 500px;
}
header ul, footer ul {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

header p, footer p {
    min-width: 100%;
}

header li a, footer li a {
    color: white;
}

/* Boutons réseaux */
.twitter {
    background-color: var(--BleuTwitter);
    padding: 8px 25px;
    min-width: 165px;
    min-height: 15px;
    text-align: center;
}

.linkedin {

    background-color: var(--BleuLinkedin);
    padding: 8px 25px;
    min-width: 165px;
    min-height: 15px;
    text-align: center;
}

.medium {

    background-color: black;
    padding: 8px 25px;
    min-width: 165px;
    min-height: 15px;
    text-align: center;
}

.imageheader {
    max-width: 50%;
    grid-column: 3;
}


i {
    color: white;
}

i:hover {
    color: var(--RoseH1H4);
}

/* CSS de la nav */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
nav a {

    color: black;
}

nav ul {
    margin-top: 15px;
}

nav img {
    max-width: 70%;
}


