main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

header{
    margin-top: 90px;
}

.h1Accueil {
    margin: 0;
}

.h2Index {
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: lighter;
    color: var(--GrisFonceParagraphe);
}

article img {
    width: 100%;
    margin-top: 50px;
}

.titreIndexArticle {
    color: var(--RoseH1H4);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1rem 0;
}

/* Style En SAVOIR PLUS */
a {
    color: var(--RoseH1H4);
}

span {
    text-decoration: underline;
    color: var(--RoseH1H4);
}

span:hover{
 color: var(--BleuH2H3);   
}



