:root {
    --RoseH1H4 : #D05270;
    --BleuH2H3 : #5A47AB;
    --GrisFonceParagraphe : #424242; 
    --GrisClair : #ececec;
    --BleuTwitter : #47acdf;
    --BleuLinkedin : #1275b1;
}

body {
    display: grid;  
    grid-template-columns: 1fr 1fr;
   
    
    

}